<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>编辑分类</title>
<link rel="icon" href="/static/favicon.ico" type="image/ico">
<meta name="author" content="yinqi">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/materialdesignicons.min.css" rel="stylesheet">
<!--标签插件-->
<link rel="stylesheet" href="/static/js/jquery-tags-input/jquery.tagsinput.min.css">
<link href="/static/css/style.min.css" rel="stylesheet">
</head>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">
       
      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="index.html"><img src="/static/images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
      </div>
      <div class="lyear-layout-sidebar-scroll">
        
        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item"> <a href="{:url('index/index')}"><i class="mdi mdi-home"></i> 后台首页</a> </li>
          
             <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 回收管理</a>
              <ul class="nav nav-subnav">
                <li> <a href="{:url('article/recycle')}">已删文章</a> </li>
              </ul>
            </li>
            
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 内容管理</a>
              <ul class="nav nav-subnav">
                <li> <a href="{:url('article/index')}">文章列表</a> </li>
                 <li> <a href="{:url('article/add')}">文章添加</a> </li>
                <li> <a href="lyear_pages_gallery.html">图库列表</a> </li>
              </ul>
            </li>

             <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 分类管理</a>
              <ul class="nav nav-subnav">
                <li> <a href="{:url('category/index')}">分类列表</a> </li>
                <li> <a href="{:url('category/add')}">新增分类</a> </li>
              </ul>
            </li>

             <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 网站管理</a>
              <ul class="nav nav-subnav">
               <li> <a href="lyear_pages_config.html">网站配置</a> </li>
                <li> <a href="lyear_pages_rabc.html">设置权限</a> </li>
              </ul>
            </li>
          </ul>
        </nav>    
    </aside>
    <!--End 左侧导航-->
    
    <!--头部信息-->
    <header class="lyear-layout-header">
      
      <nav class="navbar navbar-default">
        <div class="topbar">
          
          <div class="topbar-left">
            <div class="lyear-aside-toggler">
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
              <span class="lyear-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> UI元素 - 新增分类 </span>
          </div>
          
          <ul class="topbar-right">
            <li class="dropdown dropdown-profile">
              <a href="javascript:void(0)" data-toggle="dropdown">
                <img class="img-avatar img-avatar-48 m-r-10" src="/static/images/users/avatar.jpg" alt="笔下光年" />
                <span>笔下光年 <span class="caret"></span></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li> <a href="lyear_pages_profile.html"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                <li> <a href="lyear_pages_edit_pwd.html"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                <li> <a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
                <li class="divider"></li>
                <li> <a href="lyear_pages_login.html"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
              </ul>
            </li>
        </div>
      </nav>
      
    </header>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <!-- 表单部分开始 -->
                <form action="{:url('category/edit')}" method="post" class="row">
                  <div class="form-group col-md-12">
                    <label for="title">分类名称</label>
                    <input type="text" class="form-control" id="c_name" name="c_name" value="{$info.c_name}" />
                  </div>
                  <input type="hidden" name="c_id" value="{$info.c_id}">
                   <div class="form-group col-md-12">
                    <label for="c_pid">上级分类</label>
                    <div class="form-controls">
                      <select name="c_pid" class="form-control" id="c_pid">
                        
                        <option value="0">主类别</option>
                         {volist name='category' id='vo'}
                        <option value="{$vo.c_id}" {eq name="$info.c_pid" value="$vo.c_id"} selected="selected" {/eq}>{$vo.lev|str_repeat='&nbsp;&nbsp;',###}{$vo.c_name}</option>
                        {/volist}
                      </select>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <label for="seo_keywords">排序</label>
                    <input type="text" class="form-control" id="c_sort" name="c_sort" value="{$info.c_sort}" />
                  </div>

                  <div class="form-group col-md-12">
                    <label for="seo_description">描述</label>
                    <textarea class="form-control" id="c_desc" name="c_desc" rows="5" value="">{$info.c_desc}</textarea>
                  </div>
                 
                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                  </div>
                </form>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/perfect-scrollbar.min.js"></script>
<!--标签插件-->
<script src="/static/js/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/static/js/main.min.js"></script>
</body>
</html>